{namespace oceania.modules}

{template .mxxx}
    {@param? class: string}
    <DEFLINK>
    <DEFTITLE>
    <DEFDROPDOWN>
    <DEFIMAGE>

    <!-- mxxx -->
    <section class="mxxx{if $class} {$class}{/if}">
      <div class="mxxx_header">
        <CALLTITLE>
      </div>
      <div class="mxxx_body">
        <CALLLINK>
        <CALLDROPDOWN>
        <CALLIMAGE>
      </div>
      <div class="mxxx_aside">

      </div>
      <div class="mxxx_footer">

      </div>
    </section>
{/template}