{call oceania.partials.link}
            {param  link: [
              'class': $link.class,
              'href': $link.href,
              'title': $link.title,
              'aria': $link.aria,
              'text': $link.text,
              'attrs': null
            ]/}
        {/call}