{@param? dropdown: [
        class: string,
        defaultSelection: [
            text: string,
            title: string,
            aria: string,
            href: string
        ],
        options: list<[href: string, title: string, aria: string, text: string]>
    ]}