{namespace oceania.components}

{template .cxxx}
    {@param? class: string}
    <DEFLINK>
    <DEFTITLE>
    <DEFDROPDOWN>
    <DEFIMAGE>

    <!-- cxxx -->
    <div class="cxxx{if $class} {$class}{/if}">
      <div class="cxxx_header">
        <CALLTITLE>
      </div>
      <div class="cxxx_body">
        <CALLLINK>
        <CALLDROPDOWN>
        <CALLIMAGE>
      </div>
      <div class="cxxx_footer">

      </div>
    </div>
{/template}